/*@font-face {
  font-family: Brandon-Grotesque;
  font-weight: normal;
  src: url('assets\fonts\Brandon_reg.otf');
}*/

body {
  font-family: Brandon-Grotesque;
  margin: 0;
  padding: 0;
}

h1{
  color: #ececec;
  font-family: Brandon Grotesque;
}

main {

}

#map {
  border: 1px solid #ececec;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
